body{
  background: #7FDBFF;
  font : white;
}
#header{
    background: #DDDDDD;
    font-family: monospace;
    font-size: x-large;
    font-style: italic;
    color: black;
}
/* navbar items hover style */
.hero.is-primary .navbar-link.is-active,
 .hero.is-primary .navbar-link:hover,
 .hero.is-primary a.navbar-item.is-active,
 .hero.is-primary a.navbar-item:hover{
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  background-color: #D2D233;
background-color: : black;
}
#header > div.hero-body{
  background-color: #001f3f;
}
.section {
    display: block;
    color: black;
    font-size: larger;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: #fff;
  font-family: monospace;
}
.fa-linkedin:before {
    content: "\f08c";
    color: darkmagenta;
}
.fa-github:before {
    content: "\f09b";
    color: darkcyan;
}
path:hover {
  fill:purple;
}
rect:hover{
  fill:yellow;
}
